* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

/* box1 */
.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.logo {
    background-image: url(img/amazonlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 97px;
    margin-top: 17px;

}

.logodotin {
    color: white;

}

.border {
    border-color: transparent;
    border-style: solid;
    border-width: 1.5px;
    height: 50px;
    border-radius: 2px;

}

.border:hover,
.item:hover {
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    cursor: pointer;
    border-radius: 2px;
}

/* box2 */
.nav-add {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-first {
    font-size: 12px;
    color: #cccccc;
}

.add-icon {
    margin-top: 15px;
}

.address {
    padding: 5px;
}

.add-second {
    font-size: 14px;
    font-weight: 700;
    padding-top: 4px;
    font-family: inherit;
}

/* box3 */
.nav-search {
    height: 51.6px;
    width: 47.72%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.searchbar {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.searchbar:hover {
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
}

select,
input,
.search-icon {
    height: 40px;
}

input,
select {
    border: none;
}

select:hover,
input:hover {
    cursor: pointer;
}

select {
    width: 55px;
    text-align: center;
    color: #0f1111;
    background-color: #E6E6E6;
    font-family: sans-serif;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}

.search-icon {
    width: 48px;
    height: 40px;
    background-color: #febd68;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    border-color: transparent;
    border-width: 2px;



}



.search {
    width: 86%;
    height: 40px;
    font-size: 1rem;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
}

/* box4 */
.nav-lang {
    height: 51.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    box-sizing: border-box;
}



.lang {
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* box5 */
.nav-account,
.nav-returns {
    height: 51.6px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account {
    display: flex;
}

.acc-signin,
.returns {
    font-size: 12px;
}

.acc-list,
.orders,
.cart {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* box6 */
.nav-cart {
    height: 51.6px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 40px;
}

.cart {
    padding-top: 15px;
}

.panel {
    background-color: #232f3e;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    height: 37px;
    border: 1.5px solid transparent;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}


/* item1 */

.item-1 {
    margin-left: 5px;
}

.menu-icon {
    margin-right: 3px;
    height: 14px;
    width: 17px;
    align-self: center;
}

.category {
    align-self: center;
}


/* item8 */
.prime {
    margin-right: 5px;
}

i#primedropdown {
    height: 4px;
    width: 8px;
}

/* main */

main {

    height: 100%;
    width: 100%;

}

.main-bg {
    background-image: url(img/amazonbackg.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* overflow: visible; */

}

/* cards */
.cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    overflow: visible;
    flex-wrap: wrap;
}

.cards1 {
    padding: 275px 0px 0 0px;
}



/* card-1 */
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.card {
    width: 23%;
    height: 420px;
    display: flex;
    flex-direction: column;
    box-shadow: #0f1111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}


.heading {
    display: flex;
    color: #0f1111;
    height: 64px;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1,
.container-2 {
    display: flex;
    height: 146px;
    overflow: hidden;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 144px;
    overflow: auto;
    font-size: 12px;
}

img {
    height: 115.85px;
    width: 144.01px;
}
img:hover{
    cursor: pointer;
}

.explore {
    padding: 20px;
    height: 64px;
    box-sizing: border-box;
    padding-top: 30px;
}

.explore-link,
a {
    color: #007185;
    text-decoration: none;
    font-size: 13px;

}

.banners {
    width: 100%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    background-color: white;
    padding-right: 25px;
    padding-left: 22.5px;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 285px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.products {
    height: 220px;
    width: 100%;
    display: flex;
    justify-items: space-evenly;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bannerimg {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.advertisement{
    height: 250px;
    width: 100%;
    background-color: white;
    padding:0 250px 0 250px;
    box-sizing: border-box;
}
.adds{
    background-color: white;
    height: 230px;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.gateway{
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}
#add-gateway{
    font-size: 11px;
    color: darkgray;
    cursor: pointer;
}
#add-gateway:hover{
    color: #555555;
}
#add-photo{
    height: 200px;
    width: 200px;
    margin-right: 20px;
    align-self: center;
}
.adds-description{
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-evenly;
    width: 600px;
    font-size: 21px;
}
.product-description,.product-price{
    height: 115px;
    display: flex;
    align-items: center;
}
.product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}